

.snowboard-type { 
	border-radius: 20px;
	width: 300px ;
	height: 300px ; 
	display: block;
	margin-right: auto;
	margin-left: auto; 
	
}

@media screen and (max-width: 800px ){
	.snowboard-type {
		width: 50%;
		height: 50%;
	}
}

@media screen and (max-width: 900px) {
	.responsive-image { width: 70%;}
}

h2 { text-decoration: underline; }

        
main { background-color: #d7e5f4;
        color: black; 
		}

p { padding: 3rem; }
		


footer { color: white;
	background-color: black;
	padding: 5px; }