body { background-color: black;
    margin: 0;
    padding: 0;}

ul, li { display: inline-block;
	padding-left: 5px;
	padding-right: 5px;

	 }

#skis-content { display: inline-grid;}

.snowboard-type { 
	border-radius: 20px;
	width: 300px !important;
	height: 300px !important;  
	
	}

nav {background-color: black;}

nav, li, a{ border: 1px solid black; 
padding: 2px;
color: white;
text-decoration: none;
text-align: center;
}

h2 { text-decoration: underline;}

header { text-align: center;
		color: white;
		background-color: black; 
        padding: 5px; }
        
 main { background-color: #d7e5f4;
        color: black; 
        padding: 10px;}

footer { color: white;
	background-color: black;
	padding: 5px; }